@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
}

/* Header section  */

.banner-container{
    max-width:1320px;
    margin: 0 auto;
    height: 600px;
    background-color: rgba(0, 0,0 ,0.5 );
    background-image: url("images/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
.head-div{
    color: white;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-div h3{
    font-size: 32px;
    font-weight: 400px;
}
.head-div h1{
    font-size: 72px;
    font-weight: 900px;
}
/* HTML Main part start here  */
.first-section{
    width: 800px;
    height: 810px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}
.text-div{
    text-align: center;
    margin-bottom: 50px;

}
.text-div h1{
    font-size: 88px;
    font-weight: 700px;
    color: red;
}
.text-div p{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500px;
    color: red;
}
.text-div h2{
    margin-top: 20px;
    font-size: 48px;
    font-weight: 600px;
}
.img-div img{
    width: 100%;
    height: 100%;
}

/* second section from here  */

.second-section{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-color: rgba(0, 0,0 ,0.5 );
    background-image: url("images/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    margin-top: 100px;
     
}
.second-head-div{
    position: absolute;
    display: flex;
    align-items: center;
    margin: 65px 100px;

}
.text2-div{
     width: 70%;
}
.text2-div h1{
    font-size: 64px;
    color: white;
}
.text2-div p{
    font-size: 18px;
    color: white;
    margin-top: 20px;
}
.join-btn{
    font-size: 28px;
    font-weight: 700px;
    border-radius: 10px;
    border: none;
    margin-top: 70px;
    margin-left: 30px;
    color: aliceblue;
    background-color: black;
}
.img2-div{
    align-items: center;
    width: 50%;
    margin-left: 100px;
}

/* Third Section Start From Here  */

.third-section{
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.info-div{
    position: absolute;
    margin: 180px 388px;
    text-align: center;
}
.text{
    font-size: 32px;
}
.info-div span{
    color: red;
}
.meet-btn{
    margin-top: 40px;
    font-size: 28px;
    font-weight: 700px;
    background-color: red;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 10px 20px;
}